@use 'variables'as *;

// mixins to take care of repeated patterns.
@mixin set-font($size: 1em, $line-height: normal, $font: $fonts) {
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
}

@mixin margin-align($l-margin: auto, $r-margin: auto) {
  margin-left: $l-margin;
  margin-right: $r-margin;
}

// these styles here should describe how the atoms (elements) should appear most of the time.  They can be overridden at the molecule (block) as necessary
h1,
h2,
h3 {
  font-family: $fonts;
  margin: 0;
}

h1 {
  background: $accent1;
  color: $text-light;
  display: inline-block;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}

h2 {
  color: $text-light;
  font-size: 6em;
}

h3 {
  font-size: 2em;
  padding: 1em 0 0.5em 0;
}

image {
  display: block;
  max-width: 100%;
  height: auto;
  @include margin-align(auto, auto);
}

p {
  @include set-font(1em, 1.5em);
  padding: 1em 0;
  margin: 0;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: $accent2;
  text-decoration: none;

  :hover {
    border-color: $accent1;
  }
}