@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

$fonts: 'Lato', sans-serif;
$text-dark: #333;
$text-light: #fff;

$primary: #326125;
$accent1: #BB4430;
$accent2: #7EBDC2;
$background-color: #463014;
